[2015-03-26 05:35] avital opened #1 "Please publish your package lookback:emails for Windows"
Hi!

This package has binary dependencies, and we wanted to give you a heads up that Meteor 1.1, with support for Windows will be released in a few days.

Now is the time to publish your package for Windows!

It should be very straightforward -- we've added new build machines that run Windows that you can access with the `meteor admin get-machine` command. This is the same as you've done before fo

[2015-03-26 08:14] johanbrook commented on #1
Hi @avital.

Thanks for the cool heads-up regarding building for the Windows RC!

However, a small problem: when I log in to the admin with `get-machin` to build for `os.windows.x86_32`, the process gets stuck at this:

[code]

I followed these instructions from your link:

[2015-03-26 08:48] hvtor opened #2 "No compatible build found for version 0.3.2"
Received an error when adding version 0.3.2.

=> Errors while adding packages:

While checking for lookback:emails@0.3.2:
error: No compatible build found

:+1: meteor add lookback:email@=0.3.1

:-1: meteor add lookback:email@=0.3.2

[2015-03-26 09:00] johanbrook commented on #2
Hi @hvtor, thanks for reporting. What OS are you on? Meteor version? I've got issues publishing this package for Windows (see https://github.com/lookback/meteor-emails/issues/1) just today, and it might be related. Please use `0.3.1` for now. That version should be built for *nix platforms.

_Edit:_ Should work now, I re-published `0.3.2` for all platforms (except Windows).

[2015-03-26 12:08] hvtor opened #3 "Mailer.init() results in Error: Match error: Expected object, got undefined"
Meteor.startup(function() {
        Mailer.init();
        Mailer.config(
		{
		  from: 'Name <name@domain.com>',
		  replyTo: 'Name <name@domain.com>',
		  routePrefix: 'emails',
		  baseUrl: process.env.ROOT_URL,
		  testEmail: null,
		  logger: console
		}
	); // Mailer.config
}); // Meteor.startup

So it appears the app is crashing, and works when I remove Mailer blocks.

So what would be a so

[2015-03-26 12:11] hvtor commented on #2
Hi @johanbrook I'm using Mac OS 10.10.1, Meteor 1.0.5.

Thanks 0.3.2 is working now :)

Is there an existing example app? Having trouble with setup.

[2015-03-26 12:11] #2 closed

[2015-03-26 12:39] johanbrook commented on #2
Great.

I'll provide an example app.

[2015-03-26 12:41] johanbrook commented on #3
`Mailer.init()` expects a config object, with a `templates` key at least, as outlined in the README: https://github.com/lookback/meteor-emails#api.

You can have the `Mailer.config()` call anywhere in your code, but the `Mailer.init()` code should preferrable be inside of a `Meteor.startup` call.

[2015-03-26 14:17] hvtor commented on #3
Having some issues with syntax and setup.

I've placed the Mailer.init() inside of a Meteor.startup call as follows:

[code]

I began with files in a folder called Client/emails/unitsEmail/

I have placed my template and js files in the server folder (which I think doesn't make sense for access to Templates/helpers)

server/templates/sendUnitsTwo.js <--- helper called 'sendUnits'
server/templates/

[2015-03-26 14:35] johanbrook commented on #3
Please refer to the README for the API :)

For instance, the `templates` option sent to `Mailer.init` should be **an object** as well – right now, you've set it to a string.

Also, this runs on the **server**, so it won't work with client templates.

Read the README for full explanations.

[2015-03-26 17:13] stubailo commented on #1
@johanbrook there's a known issue where it is easy to miss that the SSH prompt opened. Take a look at this screenshot:

![](http://i.imgur.com/eNRyc0x.png)

The prompt is in the top left, but is hard to see. Is this the issue you encountered, or is it something else? If this is the thing you encountered, we should definitely document it.

[2015-03-28 14:39] hvtor commented on #3
I've read the API, but I'm finding conflicting issues when I attempt what is recommended.

I've tried both methods, setting the KV as an object, and as a string (which you told me was the wrong way of doing this) despite the documentation suggesting otherwise. Here is how the API suggests Mailer.send(Object) be treated:

Takes a plain object with the following properties:

{
  to: 'Name name@domai

[2015-04-01 15:13] johanbrook commented on #3
@hvtor Seems you're not writing valid Javascript in your provided code:

[code]

But I've also created a sample app [here](https://github.com/lookback/meteor-emails/tree/master/example) which you can consult.

[2015-04-01 15:13] #3 closed

[2015-04-01 16:27] #1 closed

[2015-04-01 16:46] hvtor commented on #3
@johanbrook I greatly appreciate the pointers. I'll follow your sample app.

Thanks for the help!

[2015-04-01 17:10] stubailo commented on #1
@johanbrook were you successful?

[2015-04-01 17:14] johanbrook commented on #1
@stubailo Yes! I tried again just now, and it seemed to work out (got into the Windows machine and built the binaries). Thanks for checking in.

[2015-05-07 19:48] hellogerard opened #4 "Use Assets.getText?"
Why bother with `BUNDLE_PATH` and `path.join`?  Am I missing something or can you not just use [Assets.getText()](http://docs.meteor.com/#/full/assets_getText) to find email templates in the `private` folder?

[2015-05-08 20:47] hellogerard commented on #4
Nevermind. Found the answer. Knew there had to be a reason. `Assets.getText` does not work from within packages (see https://github.com/meteor/meteor/issues/1382). It only works if the assets have already been added via `addFiles` in `package.js`.

My underlying problem is that, on Modulus, the absolute app path can change upon restart or deploy. So then, every time I deploy, I have to watch for t

[2015-05-08 20:47] #4 closed

[2015-05-08 20:51] johanbrook commented on #4
@hellogerard

Hi, sorry for seeing this "too late", so to speak. Your question was very valid, and I had to think a while to remember why I took the route I did (but it was because of the reason you described).

Are you sure? When I deploy a Meteor app bundle, I put it in a specific path (the `BUNDLE_PATH`) and start it with `forever`. That path is static. May depend on setup though.

Valid. I'll

[2015-05-08 20:52] hellogerard commented on #4
Yes, regarding `BUNDLE_PATH` changing, it's only on Modulus, probably because it's a PaaS-type setup. I imagine the path does not change if you're using MUP on your own server or something like that.

[2015-05-08 22:38] chrisbutler opened #5 "nesting templates/defining templates with tags"
hey guys, this is a great package and so far it's making life so much easier. i have some templates and helpers client side that render a data table:

[code]

I would like to be able to re-use the same templates to render the data on the client and in emails... to use the same markup but different css. Right now I've duplicated that code and refactored it into a single template to use in my email:

[2015-05-08 22:45] johanbrook commented on #5
Thanks! We're using the [`meteor-ssr`](https://github.com/meteorhacks/meteor-ssr) package for rendering the templates on the server, and as far as I can see, it doesn't support template inclusions à la

[code]

Feel free to check out that package for any leads.

But since templates for emails need to live in the `private` directory anyway, it might be tricky to reach the point where you can share

[2015-05-10 11:19] chrisbutler opened #6 "make documentation idiot-proof"
i spent the last 24 hours trying to figure out why the package wasn't working when deployed, only to realize that the routes are only created in development... unfortunately this isn't stated anywhere obvious

it also took me a bit of time to find/figure out the BUNDLE_PATH setting, because it's buried at the bottom. i also had to dig into the code to see how to format it, etc.

do you mind if i t

[2015-05-10 11:21] chrisbutler commented on #5
hey @johanbrook, thanks for the feedback. it looks like @arunoda was at one point loading client side templates (https://github.com/meteorhacks/meteor-ssr/blob/03d19696dc93ea531f8cf2864613a5bc756eabb7/lib/core.js#L6) but that has since been removed. i'm going to poke around a bit and see if i can use that as a guide to integrate the functionality here

[2015-05-10 12:18] johanbrook commented on #6
Thanks for highlighting that, @chrisbutler. On it.

[2015-05-10 14:06] johanbrook commented on #5
Cool! Good luck.

[2015-05-10 14:06] #5 closed

[2015-05-10 17:25] johanbrook commented on #6
Added extended documentation in https://github.com/lookback/meteor-emails/commit/d80f8fdce5c3aac5337db139285d66ccf3172bf1.

[2015-05-10 20:11] chrisbutler commented on #6
perfect, especially the option to addRoutes. thanks!

[2015-05-10 20:11] #6 closed

[2015-05-10 21:52] johanbrook commented on #6
:zap:

[2015-05-12 13:02] mcoenca opened #7 "Adding Jade Support"
Hello ! Thanks for the package, looking forward to its future.

As you are using meteorhacks:ssr that has jade support, maybe you can provide configuration options that are passed through meteor-emails to ssr so we can use jade templates instead of html templates.

[2015-05-12 13:06] mcoenca opened #8 "Names of created routes are not clear"
I was struggling with iron router on how to add the preview and send routes to my onBeforeAction filter.

I think it woud be great add in the docs or in the logs at startup the name, in addtion to the path, of the routes created.

for a template named templateTest, the route name was:
"previewtemplateTestEmail"

that was not obvious, or maybe i missed something !

Thanks,
Best.

[2015-05-12 14:22] johanbrook commented on #8
Thanks, @mcoenca. I'll add some docs on that.

[2015-05-12 14:22] johanbrook commented on #7
Thanks for notifying, I'll take a look at it.

[2015-05-19 12:15] dbaruchel opened #9 "Using multiple blaze templates for one email"
Hi !
Thanks for the package,
I've been trying to use multiple templates when designing my email (so I do not have to repeat the html code) but I keep getting a "no such template" error:

This is my code in private/activity_email/report.html:
[code]

in server/newsletter/template.js
[code]

in server/newsletter/config.js
[code]
I did not understand (sorry, quite new to this) if it was possible or n

[2015-05-19 15:15] johanbrook commented on #9
Hi @dbaruchel!

I'm using https://github.com/meteorhacks/meteor-ssr/ under the hood to render the templates, and afaik it doesn't support nesting/partials in templates yet (see previous issue here: https://github.com/lookback/meteor-emails/issues/5).

[2015-05-19 15:15] #9 closed

[2015-05-22 09:02] #8 closed

[2015-05-22 09:22] #7 closed

[2015-05-22 21:01] adamwong246 opened #10 "support for stylus?"
any possibility of support for stylus, as opposed to scss?

[2015-05-23 11:57] jadsonlourenco commented on #10
Yes! And just install SCSS package if use it.

[2015-05-25 17:21] johanbrook commented on #10
@adamwong246 Guess that would be possible.

@jadsonlourenco How do you mean?

[2015-05-25 18:42] jadsonlourenco commented on #10
@johanbrook Sorry, I explain better my case: in this line https://github.com/lookback/meteor-emails/blob/master/package.js#L11 you use "Node-sass" to compile the SCSS/SASS files for CSS, that is fine, BUT when I compile the App to "bundle" (NodeJS version) and try start it on Linux I get an error, this error is related to Node-sass, not your package, so if you get an way to not install Node-sass i

[2015-05-25 22:58] manzoire opened #11 "Multiple Layouts?"
I'm trying to use multiple emails and not able to get it to work.

When I specify the layout as "false" in config as per your documentation, I get an error that says object expected. I removed that line and the error went away. Then I specified the layout in each file instead and the email is rendering without the layout.

I'm not sure if I'm missing something but it doesn't seem to work as the do

[2015-05-27 17:09] adamwong246 opened #12 "Error: Unknown language jade"
seems to be a already known load order issue. https://github.com/meteorhacks/meteor-ssr/issues/22

I'm not sure if this is a bug with `meteor-emails` or with `meteor-ssr`?

[2015-05-27 22:44] adamgins opened #13 "Question: Support for {{> someTemplate}} ?"
Hi,

great package!!

is there a way to include other sub-templates within an iteration or do I have to include/inline everything in the `each`?

For example:

[code]

[2015-05-28 13:56] johanbrook commented on #13
Hi @adamgins! Thanks a lot.

Sadly, including sub templates isn't possible yet. I'm using the [Meteor SSR](https://github.com/meteorhacks/meteor-ssr/) package for server side rendering of the templates, and it seems that hasn't landed in there yet.

[2015-05-28 13:56] #13 closed

[2015-05-28 13:59] johanbrook commented on #12
Hi!

This package just passes along the option to choose language to `meteor-ssr`. It's probably something concerning that package. Is including Jade before SSR helping?

[2015-05-28 14:19] adamgins opened #14 "Is this a BUNDLE_PATH issue?"
Hi, having an issue running on AWS Opswork... I have not set the BUNDLE_PATH yet (I am just trying to track down the location of the Bundle in the docker image.)

I see this on the log:

[code]

[2015-05-28 14:38] johanbrook commented on #14
Hi. I'm also seeing this in the last release (0.4.1). Try using 0.4.0. I'm not sure of what's gone wrong, since 0.4.1 was completely unrelated to any `node-sass` stuff.

Googling the error just suggests reinstalling `node-sass`. I should update to the latest `node-sass`, but need to ensure compability and those things.

Sorry for the hassle. Hope 0.4.0 will do.

[2015-05-28 14:40] johanbrook opened #15 "0.4.1 crashes on startup: libsass bindings not found"
As of 0.4.1, this error is thrown:

[code]

According to google, people usually reinstall `node-sass` to solve this. I'm not sure why the error came in 0.4.1, since that release didn't touch any dependencies at all.

I could look into upgrading to latest `node-sass` (0.3.x).

[2015-05-28 16:39] adamwong246 commented on #12
by "before" do you mean the order of the `.meteor/packages` file?

But I tried that and no cigar.

[2015-05-28 16:45] johanbrook commented on #12
Perhaps I need to add it as a weak dependency, but in the linked issue thread in meteor-ssr, that doesn't seem to work either?

According to its README:

[code]

So perhaps you have to manually add Jade first and then this package. Clunky.

[2015-05-28 20:33] adamwong246 commented on #4
+1 would really like a better way to use this package on modulus.

[2015-05-28 20:44] johanbrook commented on #4
I agree with you both, but this is a constraint in getting a hold of a file server side when deployed. I'm all open for ideas.

An alternative could be @hellogerard's idea about just sending the whole HTML string as a template. Wouldn't make too much difference if the package or user stringifies the template.

[2015-05-28 21:18] adamwong246 commented on #4
is there any hope of accessing the `__dirname` on modulus? http://help.modulus.io/customer/portal/articles/1653448-file-storage

[2015-05-28 22:33] adamwong246 commented on #15
+1

[2015-05-28 22:55] adamgins commented on #14
@johanbrook thanks... I am actually using   0.4.0 in my local meteor project. Any other ideas?

Update:... uh my mistake, I was using 0.4.0 locally.. I just updated to hardcode the 0.4.0 version... will try it soon.

Update - yep, working on 0.4.0 - thanks

[2015-05-28 23:18] adamgins commented on #14
I have set the environment variable BUNDLE_PATH to `/built_app` see errors above, that looks like the right path, does that look correct? (I am using the meteord docker based system to this is all automated for me) see this thread https://forums.meteor.com/t/aws-opsworks-meteor-docker-deployment/1937/61 and the error above seems to say that I have set it correctly.

[2015-05-28 23:25] adamgins commented on #14
Mmm.. perhaps the docker process is installing 0.4.1 as I just upgraded my local version to 0.4.1 and I am getting the issue.

I tried removing the package and then readding 0.4.0 and I get the following error:

[code]

[2015-05-28 23:37] adamwong246 opened #16 "Modulus support?"
I am unable to get this package running on modulus. While I can set environmental variables, the actual path is subject to change and I have yet to uncover a method for exposing the path.

[2015-05-29 02:26] jadsonlourenco commented on #16
@adamwong246 if you restart the app after add this env variable? I use Dokku and get an error like this, after "rebuild" the app works fine.

[2015-05-29 17:06] adamwong246 commented on #16
Do you mean the `BUNDLE_PATH` environment variable? And if so, what value did you set?

[2015-05-29 18:00] adamwong246 commented on #16
I was able to fix this by using the `process.env.APP_DIR` variable, as per http://help.modulus.io/customer/en_us/portal/questions/12745491--dirname?new=12745491

https://github.com/lookback/meteor-emails/pull/17

[2015-05-29 20:37] adamgins commented on #14
closing this as covered in https://github.com/lookback/meteor-emails/issues/15

[2015-05-29 20:37] #14 closed

[2015-06-01 20:36] satyavh commented on #15
+1

Got the same issue. Downgraded to 0.4.0 and which works fine.

[2015-06-02 18:56] #16 closed

[2015-06-02 23:35] adamwong246 opened #18 "Could not render email before sending: No such template: markdown mailer"
[code]

[2015-06-02 23:46] johanbrook commented on #18
`#markdown` is probably not available on the server with Meteor SSR :/ You can probably make your own or make it a simple template helper that calls the Markdown implementation of your choice (`Showdown`, `marked`, etc.).

[2015-06-04 23:02] meichenblatt commented on #15
+1

[2015-06-04 23:43] meichenblatt commented on #15
I downgraded but I'm still getting the error :(

[2015-06-08 21:59] adamwong246 opened #19 "sharing assets?"
I'd really prefer that my client styles and my email styles be one and the same. Is this impossible? Moving  my client/scripts to the root of the projects didn't work.

[2015-06-10 17:45] johanbrook commented on #19
@adamwong246 Thing is we wanna read the CSS file from fisk (see https://github.com/lookback/meteor-emails/blob/master/emails.coffee#L123), and since Meteor is bundling up all client CSS, we can't reach it. Hence, it needs to live in `private`.

[2015-06-10 17:45] #18 closed

[2015-06-16 02:49] johanbrook commented on #15
@meichenblatt @satyavh @adamwong246 Is https://github.com/lookback/meteor-emails/pull/21 building okay for you locally?

[2015-06-16 02:49] #12 closed

[2015-06-16 02:53] johanbrook opened #22 "Don't use node-sass as a hard dependency"
Idea from @jadsonlourenco in https://github.com/lookback/meteor-emails/issues/10#issuecomment-105287109.

I don't know if it's possible to do a conditional `Npm.depends` call though – weak dependencies are only available for Meteor packages.

[2015-06-16 03:01] #11 closed

[2015-06-16 03:02] johanbrook commented on #11
@manzoire Sorry for the delay. Is this working for you now? (clone `master` and try locally).

[2015-06-16 03:02] #19 closed

[2015-06-16 09:29] satyavh commented on #15
I'd love to test, but not very experienced with building locally. If you can tell me how I will test

[2015-06-16 16:08] johanbrook commented on #15
@satyavh Just checkout the `fix/libsass-bindings` branch locally in your `packages` directory (create it if not exists).

[code]

[2015-06-16 18:23] johanbrook opened #23 "Package fails to build on OS X build machine"
Building this package fails on the OS X build machine, see error below. Seems to refer to `node-sass`. The package builds fine on my local OS X machine, as well as the Linux and Windows ones.

Any ideas @stubailo, @slava, @avital ?

[code]

[2015-06-16 19:17] satyavh commented on #15
I see you merged that already in 0.4.2. I can't get it to work locally, and I can't install 0.4.2, it gives me:
"No compatible binary build found for this package" on OSX, latest meteor. Please contact the package author"

I'm sticking with 0.4.0 for now :-)

---

When I build locally:

[code]

[2015-06-16 19:27] satyavh commented on #23
I got the same, building on OSX locally

[code]

[2015-06-16 19:58] johanbrook commented on #15
Yep, it's due to https://github.com/lookback/meteor-emails/issues/23. I have no idea why the build fails on the OS X build machine.

[2015-06-16 20:00] johanbrook commented on #15
Updated README: https://github.com/lookback/meteor-emails/commit/3f2f0ce3f4223c49ac1bf9624db288738cfe7a07

[2015-06-17 10:03] bompi88 opened #24 "No compatible binary build found for this package"
I stumbling upon this error when trying to add this package to my stack:

[code]

I'm building on a Mac, Meteor version 1.1.0.2.

[2015-06-17 17:33] johanbrook commented on #24
Thanks, this is tracked in https://github.com/lookback/meteor-emails/issues/23 :)

[2015-06-17 17:33] #24 closed

[2015-06-22 05:56] chrisbutler commented on #23
@johanbrook i also filed this with the node-sass guys to see if they have any thoughts https://github.com/sass/node-sass/issues/1009

[2015-06-22 07:07] #23 closed

[2015-06-22 07:21] johanbrook commented on #15
Fixed by https://github.com/lookback/meteor-emails/commit/39a6520417ed93d3f483cb15e155fa5b85830fa0, published as v0.4.3.

[2015-06-22 07:21] #15 closed

[2015-06-22 20:17] mcoenca opened #28 "Trouble using meteor emails inside another package"
I think it is linked to the fact that you are not using Assets.getText(), and that i can't "push" files in the private/ directory from a package.js api.addFiles().

I get "could not get template MyTemplate Error 500" :(

If somebody has a workaround, lmk ! Thanks

[2015-06-22 22:20] mcoenca commented on #28
I am working on something, i have it working in dev. Will test in production and will submit pull request as soon as it is ready

[2015-06-23 08:55] johanbrook commented on #28
Thanks!

[2015-07-07 23:28] nloui commented on #15
Still seem to be having this issue with the correct env variable set.

[2015-07-13 17:02] johanbrook commented on #15
@nloui Have you tried the latest version?

[2015-07-17 12:28] dandv opened #29 "path.join arguments aren't strings on Windows"
`meteor run` in the `example` dies on Windows with

[code]

[2015-07-17 12:34] dandv opened #30 "Add screenshot to the README?"
For example,

![image](https://cloud.githubusercontent.com/assets/33569/8747197/762f74d8-2c45-11e5-98fa-7f5ffbb22d86.png)

[2015-07-22 19:23] johanbrook commented on #29
Interesting, thank you. This is due to this:

[code]

`process.env.PWD` probably isn't available on Windows.

[2015-07-22 19:23] johanbrook commented on #30
On it :+1:

[2015-08-01 08:34] adamgins opened #32 "I upgraded from 0.4.0 to 0.4.5 and I get "Exited with code: 1""
Sorry, I don't seem to have more info. If I re-install 0.4.0 it all works.
Were there breaking changes in code between those versions?

[2015-08-04 06:19] johanbrook commented on #32
@adamgins Is this still popping up for you?

[2015-08-05 03:08] adamgins commented on #32
@johanbrook yep. I had upgraded to 0.4.5 , have not checked since..

[2015-08-06 16:46] johanbrook commented on #32
I can't reproduce this. So weird.

So there's no stack trace or anything?

[2015-08-06 23:46] adamgins commented on #32
I can't see anything on the sever console. Is there some other log file /setting so I can get more detail?

[2015-08-07 13:31] todda00 commented on #32
I'm using 0.4.5:
I have just started to use this package, and it works locally, but when I try to deploy it to a AWS E2 instance via Meteor Up, I get the following error log:

[code]

[2015-08-07 13:34] johanbrook commented on #32
Hm, `node-sass` is acting up again. I should probably make SCSS compiling opt-in, since it causes so much trouble. That seems like a lowlevel libsass error.

Have you any idea of this, @chrisbutler ?

[2015-08-07 13:38] todda00 commented on #32
opt-in SASS would be great, I really just want a few basic templates, I can go through the pain of writing old school CSS for a few emails.

[2015-08-10 20:13] chrisbutler commented on #32
@adamgins can you give us more info on your system?

@todda00 it's working for me using mupx on ubuntu 14.04.2

can you guys remove the emails package and just try installing `chrisbutler:node-sass` and see what happens?

@johanbrook making it somehow optional does seem ideal... but you'd probably have to do it as an addon package, like `lookback:emails-sass` or something?

[2015-08-11 00:40] adamgins commented on #32
@chrisbutler
this is just my local dev environment on OSX Yosemite. Running Meteor 1.1.0.2
everything seems to work fine with 0.4.0 version. From memory, this issue started with 0.4.1 and I just stuck with 0.4.0.
is there some way I can get debugging turned on to get more info?

[2015-08-11 05:30] johanbrook commented on #32
@adamgins This package is set to be verbose as default (see [this line](https://github.com/lookback/meteor-emails/blob/master/emails.coffee#L22)), so that should be all info we got so far.

@chrisbutler Cannot something with weak dependencies be set up? For instance, detect that your SCSS package exists and load after it, and in code detect SCSS support.

[2015-08-11 19:28] todda00 commented on #32
@chrisbutler

I do not have the emails package installed anymore, I add chrisbutler:node-sass only, and try to deploy with the same resulting error:

[code]

[2015-08-11 19:29] todda00 commented on #32
when I remove the chrisbutler:node-sass package it deploys perfectly.

[2015-08-11 21:20] chrisbutler commented on #32
@todda00 can you update your node version?

[2015-08-12 13:13] todda00 commented on #32
@chrisbutler Well meteor is stuck on node 0.10.X, so I upgraded it to 0.10.40 and got the same error.

[2015-08-12 15:04] vhuerta opened #33 "Exit code 8 when updating from 0.4.3 to 0.4.4 and 0.4.5"
Hi, Im getting this error when i update the package from version 0.4.3 to 0.4.4 and 0.4.5

W20150812-10:02:17.051(-5)? (STDERR)
W20150812-10:02:17.053(-5)? (STDERR) /Users/bc/.meteor/packages/meteor-tool/.1.1.4.1a6rm8b++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:245
W20150812-10:02:17.053(-5)? (STDERR) 						throw(ex);
W20150812-10:02

[2015-08-12 21:06] chrisbutler commented on #32
@todda00 there are some known/ongoing issues with node-sass. can you try following the suggestions here and see what you come up with? https://github.com/sass/node-sass/blob/master/TROUBLESHOOTING.md

[2015-08-17 14:18] todda00 commented on #32
@chrisbutler the node-sass installs OK when I install it directly on the server via `sudo npm install -g node-sass` but the deploy still fails.

The only way I was able to get this to work was to install sass on the server via gems, and pull in the lookback:meteor-email package locally and remove chrisbutler:node-sass from package.js

[2015-08-22 22:11] nloui commented on #15
@johanbrook yup, no good still unfortunately

[2015-09-13 22:09] #29 closed

[2015-09-13 22:33] johanbrook commented on #33
@vhuerta Hi! Sorry for late reply. Did you call the package with the correct arguments?

[2015-09-13 22:34] johanbrook commented on #32
@todda00 @chrisbutler I've removed `node-sass` as a hard dep in here: https://github.com/lookback/meteor-emails/pull/35. Feel free to pull it down and test.

[2015-09-13 22:35] johanbrook commented on #10
@jadsonlourenco I've now removed `node-sass` as a hard dependency in here: https://github.com/lookback/meteor-emails/pull/35. Feel free to pull down and test.

[2015-09-13 23:37] jadsonlourenco commented on #10
@johanbrook Ok man, I will test this now, thanks!!

[2015-09-14 00:11] jadsonlourenco commented on #22
Well, I tested the new version (0.4.6) and works fine, now don't have the SASS compiler by default, don't get any error when running the "bundle" version like before. **Thank you!**

PS: You know that the new Meteor 1.2 will have a better support to compile the SASS/LESS/STYLUS without packages, I think, I will read more about and then back, maybe it can help us to have this compilers without prob

[2015-09-14 07:12] johanbrook commented on #22
@jadsonlourenco Hm, weird – I removed Sass as hard dep in v0.5.0, in https://github.com/lookback/meteor-emails/pull/35 :) But good thing it works anyway.

Yep, I think things will be a tad easier, at least.

[2015-09-17 03:26] sean-stanley opened #36 "Templates not found"
Hi,

I know the readme and example are supposed to help me not have this problem, but despite trying to follow them very closely I still ended up with a strange bug where my templates aren't being found.
I called console.log just before Mailer.init to see what my Templates variable actually was. Templates and Mailer.init are defined in the same .coffee file by the way.

[code]

I didn't actually d

[2015-09-17 04:19] sean-stanley commented on #36
An update,

In your code, this is where I have the error being tripped.

[code]

This runs after compile so the proble is not my paths but that the template is not being properly registered to Template.invoiceEmail. I will look for conflicts in my code and post any findings here.

[2015-09-17 12:55] johanbrook commented on #36
Hey @sean-stanley!

Thanks for investigating. Let me know if you find any issues in the package.

[2015-09-17 19:53] sean-stanley commented on #36
Hi,

So I made a new project and copied in just my server code and tried sending emails and it worked as expected.

So I tried sending an email outside of my test folder (testing with velocity and sanjo:jasmine) and sure enough the message was logged to the console.

If there is an issue it lies in velocity or sanjo:jasmine not being able to or no longer being able to read the templates from the p

[2015-09-17 21:14] johanbrook commented on #36
Did you check out the section about setting `BUNDLE_PATH` when deployed? Might be of help. Sadly, I have no experience with Kadira Jasmine. What is it? Tried googling it, but it would just yield results on various porn stars ... -.-

Yeah, I feel the same. Testing in Meteor is generally still a pain, since it's such an integrated system to spin up each time – there are very few separate modules.

[2015-09-17 21:19] sean-stanley commented on #36
Always add "meteor" to search query that helps filter out the unwanted naked jasmine's.

I got the package name wrong. Kadira is for stats on the site and they also make flow-router, a new client-only meteor router. They are connected to or are meteorhacks if you've seen any of their packages. I thought the meteorhacks people made my testing suite but it's unclear now I double check.

The testing

[2015-09-17 21:31] johanbrook commented on #36
Yeah, I know both Kadira the tool and Jasmine the test framework :) We use both them internally at Lookback. Just was confused to see them together.

[2015-09-17 21:34] sean-stanley commented on #36
Interesting, so maybe it's worth trying for yourself to send an email in a server-integration test and see if it works.

Because I am using angular js for client and routing it didn't work to test emails with iron router using the route configuration options included in the package.

[2015-09-17 21:38] johanbrook commented on #36
True, true. Apparently, the app/package isn't managing to find the HTML templates while being under test. Quite weird – testing locally should work the same as running locally, seen from an env var perspective.

Hum, how so?

[2015-09-18 01:12] sean-stanley commented on #36
Well I am using angular-ui router on the client and manage all not defined routes there. Basically, the route is undefined in angular so it executes my 404 code instead of passing the route on to Iron Router to try and handle. I could probably make Iron Router see the routes somehow but I figured getting automatic tests working would be more useful for long-term maintenance of the project anyway s

[2015-09-19 17:03] mhinton commented on #36
It looks like templates can't be found in the Velocity test environment. I am using mocha and I get the following log messages when the application starts up in the mirror environment.  However I have no issues actually sending the emails.

Add route: [previewB11_1] at path /emails/previewbid_received mailer
Add route: [sendB11_1] at path /emails/sendbid_received mailer
(STDERR) Could not read tem

[2015-09-27 21:58] mccormjt opened #37 "Correct BUNDLE_PATH for regular meteor deploy?"
Hi great pkg!

Cant figure out the correct BUNDLE_PATH value for a normal "meteor deploy"?
I feel like a good number of people are first going to try their sites on the meteor servers first and need to know this value?

Ive tried:
1. not setting it at all
2. "/built_app"
3. process.env.PWD
4. process.cwd()
5. "/var/www/app/bundle"

Thanks!

[2015-09-27 23:28] mccormjt commented on #37
So I have figured out that this code:

var meteor_root = Npm.require('fs').realpathSync( process.cwd() + '/../' );
var application_root = Npm.require('fs').realpathSync( meteor_root + '/../' );
process.env.BUNDLE_PATH = application_root;

Succeeds in finding the "bundle root" and in conjunction with your:
ROOT = path.join(process.env.BUNDLE_PATH, 'programs', 'server', 'assets', 'app')

This does f

[2015-09-27 23:40] mccormjt commented on #37
Also I am not getting any errors.....Meiler.send(...) just returns "false"

[2015-09-28 00:38] mccormjt commented on #37
I think I may have diagnosed the problem.....your Util script runs before I am able to set the BUNDLE_PATH variable. Although....I am not quite sure how to fix this. How am I supposed to run code before you package?

One idea would be to put the BUNDLE_PATH variable in your "config" options for Mailer.config.
What do you think?

[2015-09-28 01:25] dfischer opened #38 "Example of use with Meteor account hooks?"
Any idea how to use this with Meteor Accounts.emailTemplates ?

[2015-09-28 02:21] mccormjt commented on #37
Here is my hard coded solution that replaces how you set your ROOT variable in your util script:
(works for me)

if process.env.NODE_ENV == 'development'
  # In development, using pwd is fine. Remove the .meteor/foo/bar stuff though.
  realPath = process.cwd().replace(/(.meteor.*)/g, '')
  ROOT = path.join(realPath, 'private')
else
  meteor_root = fs.realpathSync( process.cwd() + '/../' )
  applic

[2015-09-28 02:38] #38 closed

[2015-09-28 02:38] dfischer commented on #38
`Mailer.render` :)

[2015-09-28 02:48] mccormjt commented on #37
PR: https://github.com/lookback/meteor-emails/pull/39

This should in theory keep in tact the functionality for people who rely on setting BUNDLE_PATH or APP_DIR...but it still works as normal in development mode AND it automates setting the ROOT variable for normal meteor server deploys.

[2015-09-28 05:37] johanbrook commented on #38
:+1: :)

[2015-09-28 08:58] johanbrook commented on #37
Thanks so much for the investigations! The `BUNDLE_PATH` is quite an inconvenience .. I'll check it out and get back to you.

[2015-10-05 15:47] #22 closed

[2015-10-05 16:27] johanbrook commented on #37
Merged and fixed: http://meteor-emails.meteor.com/emails/preview/sample/johan

[2015-10-05 16:27] #37 closed

[2015-10-07 04:44] adamgins commented on #32
@johanbrook I found the issue. I had a rogue `</a>` buried deep in a template. For some reasons 0.4.0 did not complain about this... subsequent version just `exited`.

Wondering if we could have some better error logging, please?

[2015-10-07 04:44] #32 closed

[2015-10-09 07:49] johanbrook commented on #32
@adamgins Gotcha, I should take care of badly formatted templates better. Thanks!

[2015-10-12 19:14] vhuerta commented on #33
Im using this:

[code]

[2015-10-12 19:15] johanbrook commented on #33
@vhuerta Can you try out the latest version of this package as well?

[2015-10-12 20:28] vhuerta commented on #33
Still getting this, every version up 0.4.3

W20151012-15:27:58.653(-5)? (STDERR) /Users/vhuerta/.meteor/packages/meteor-tool/.1.1.9.1sd3e7j++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:245
W20151012-15:27:58.653(-5)? (STDERR)                        throw(ex);
W20151012-15:27:58.653(-5)? (STDERR)                              ^
W20151012

[2015-10-15 09:14] johanbrook commented on #33
@vhuerta The `layout` field for a template takes an object or boolean, you've provided a string. I've clarified the documentation on this: https://github.com/lookback/meteor-emails#layouts.

Please note that if you set the `layout` globally, as you've done, there's no need to specify it again for that specific template. If you do, send an object with `name` and `path` keys.

Let me know how that w

[2015-10-20 11:39] satyavh opened #40 "Preview doesn't work since upgrading from 0.4.0 to 0.5.1"
I got a route setup like this:

[code]

so this should show preview, which it always did in `v0.4.0` that I was using before.

`http://localhost:3050/emails/preview/invite/email@example.com`

But it now keeps loading forever (pending) with no server/console errors.
I'm on latest `1.0.12` Iron Router

[2015-10-20 11:40] satyavh opened #41 "How to include images from assets (public/private) in an email template?"
Can't figure this out (except hosting externally). Any tips?

[2015-10-20 14:47] johanbrook commented on #41
@satyavh Just reference them by their absolute path. You can use the built-in template helper `baseUrl` for that: http://lookback.github.io/meteor-emails/docs/emails.html#section-6:

[code]

[2015-10-20 14:49] johanbrook commented on #40
Hm, I cannot reproduce this in the `example` app. Can you reproduce it in a separate, vanilla Meteor app? (I tried example app with Meteor 1.2).

[2015-10-20 21:15] vhuerta commented on #33
Great i remove the layout from the resetPassword template and now its working fine in version 0.5.x thanks for the help

[2015-10-20 21:15] #33 closed

[2015-10-21 17:27] satyavh commented on #41
Aha, thanks a lot for that.

[2015-10-21 17:27] #41 closed

[2015-10-21 18:17] satyavh commented on #40
Ok I figured this out. Damn Iron Router, that router is so tricky.

I actually switched to Flow Router for all my Meteor projects, so I'm planning at some time to make your package compatible with FR as well (using meteorhacks:picker until Flow Router 3.0 will be released). Would you be interested in that?

[2015-10-21 18:33] #40 closed

[2015-10-21 18:57] satyavh opened #43 "Routes are created in production"
When I try to access the `preview` / `send` routes in production, they are accessible but the response is:

`Couldn't find a template named "notfound" or "notfound". Are you sure you defined it?`

I think this is not secure enough. Those routes should not exist at all so something goes wrong here.

[2015-10-21 19:04] johanbrook commented on #40
@satyavh Great.

I actually would like to move away from any router at all, and use Meteor's built in `WebApp.connectHandlers`, if possible. PR for that is encouraged, of course.

[2015-10-21 19:06] johanbrook commented on #43
Are you sure? Check out this line: https://github.com/lookback/meteor-emails/blob/master/emails.coffee#L359. The routes should not be added unless `process.env.NODE_ENV === 'development'`. It seems your Meteor app gets a 404, and then tries to render a non-existing template `notFound`.

[2015-10-22 08:24] satyavh commented on #40
Even better, but I haven't used the WebApp api yet so can't help there.

I was also thinking, it might be interesting to automatically add routes to 'view this message in a browser'. Then when you enable that feature, you get a helper that you can include in your template. That helper links to a route that shows that message in the browser. Now you probably don't want to do that based on an email

[2015-10-22 08:27] johanbrook commented on #40
Sounds cool, I'll create a new issue for it.

Skickat från min iPhone

[2015-10-22 08:29] johanbrook opened #44 "Let receivers view email in browser"
It might be interesting to automatically add routes to 'view this message in a browser'. Then when you enable that feature, you get a helper that you can include in your template. That helper links to a route that shows that message in the browser. Now you probably don't want to do that based on an email address for security reasons, so it should fetch it based on some hash. Which means the packag

[2015-10-22 08:30] johanbrook opened #45 "Get rid of Iron Router"
It doesn't fulfill any purpose besides routing.

We can use `WebApp.connectHandlers` for that.

[2015-10-22 08:30] satyavh commented on #43
argh, you're completely right! Sorry man!

[2015-10-22 08:30] #43 closed

[2015-10-22 08:32] johanbrook commented on #43
No worries :)

[2015-10-22 12:41] adamgins opened #46 "Upgraded to 0.6.0 (STDERR) Could not render email before sending: html is not defined mailer"
HI, got the above error after upgrade. All was working fine prior to that  with 0.5.1

[2015-10-22 12:45] #46 closed

[2015-10-22 12:48] johanbrook commented on #46
@adamgins Sorry about that, should be fixed in 0.6.1.

[2015-10-22 12:52] johanbrook commented on #10
Since I ripped out `node-sass` as a hard dependency, anyone is welcome to write a PR for stylus support.

[2015-10-22 12:52] #10 closed

[2015-10-24 05:18] mccormjt commented on #45
Also this can cause some unexpected side effects. Right now I cant use the preview feature because I have some IronRouter global hooks that interfere with these routes :(

[2015-10-24 09:10] johanbrook commented on #45
That's not Iron Router though – that's how routes work in general. You can configure the emails prefix to be something else of you have a `/emails/preview` route already.

[2015-10-26 09:17] satyavh commented on #45
You can't use FlowRouter for this, it's client only. You have to use something like Picker.
But I also vote for 2nd option, the less dependencies the better.

I can probably do this because we're just moving our app from IR to FR , which means we need to get rid of the IR dependency before we can use this package again.

[2015-10-26 09:19] johanbrook commented on #45
Ah, true. Forgot that. Would love a PR for this.

[2015-10-26 21:33] satyavh commented on #45
So I implemented this with `meteorhacks:picker`, it works great.

I started off with WebApp but actually there's a lot of stuff you need to do to process the routes and params if you want to keep the package flexible. Besides WebApp docs are kind of lacking. Picker is just WebApp plus just enough to make live easy, so I took the easy road (Picker is really small, check the code).

I still need to

[2015-10-26 21:35] johanbrook commented on #45
Thank you!

Legit thoughts on WebApp vs. <other router>. The things I've done with `WebApp.connectHandlers` has ended up with me wishing I'd gone with a router package instead.

Feel free to file a PR and continue pushing commits to it.

[2015-10-27 07:53] satyavh commented on #45
Is that `emailUrlFor` helpers actually going to work without IR? Because if I understand correctly, you can just pass any IR route name in there and then it creates an absolute url for your email. But without IR there are no IR route names, and you cannot lookup a route.

[2015-10-27 07:58] satyavh commented on #45
Or we can just leave it as is, and if you use IR you can use this helper. And then we can add some functionality for FR in that helper. What do you think?

(hmmm FR has a bug looking up route path by route name...)

[2015-11-01 11:09] johanbrook commented on #45
@satyavh

Nope, they won't. But we can have Iron Router as a weak dependency, and check if it's included in the main app:

[code]

[2015-11-03 14:33] petr24 opened #48 "Emails not sending, using Mandrill"
Hey love the package so far, but I am experiencing a weird issue.

I have Mandrill setup for sending emails, and when I send an email via url route it works and I verify that on mandrill logs where status = "sent", also I receive the email in my inbox. If I do
[code]
it also works, however, when I do
[code]
It doesn't work, and I verify that through mandrill logs, because it gets sent but the stat

[2015-11-03 18:14] johanbrook commented on #48
Hi there!

Weird indeed. Is the Meteor server log saying anything?

[2015-11-03 18:20] petr24 commented on #48
Hey,

Nothing in the logs, unless there is some extra logging that I can turn on, not sure.
And if I make Mailer.send() into a var, it returns true in the logs.
So not to sure what could be causing the hiccup.

[2015-11-03 18:21] johanbrook commented on #48
Are you able to clone this repo and run the sample app, and send an email from there? Also please ensure you have a `MAIL_URL` environment variable setup.

[2015-11-03 18:28] petr24 commented on #48
I haven't tried sending an email from the demo app, and I am setting the MAIL_URL like so in the Meteor.startup server side, not sure if thats the correct way.

process.env.MAIL_URL = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx@smtp.mandrillapp.com:587';

[2015-11-03 18:31] johanbrook commented on #48
Okay. That should work. I usually put it into the boot of the app:

[code]

[2015-11-03 19:12] petr24 commented on #48
Hmm, tried that also, but still getting a status = "invalid" in the mandrill log. Ill keep playing with it.

[2015-11-03 19:21] petr24 commented on #48
@johanbrook,

Where could I find how you handle sending the email via the route url, because that works without any kind of issue.

[2015-11-03 19:41] petr24 commented on #48
Ok, so good news bad news situation. I was misspelling the "to" email in the object and that was causing the error. So good news is no bug with the package, bad news is I am an idiot lol.

[2015-11-03 19:52] johanbrook commented on #48
Haha ;) Don't be so hard on yourself! It happens.

(even though I find it weird that an error wasn't thrown on your misspelling: I check the object arguments to `sendEmail` here: https://github.com/lookback/meteor-emails/blob/master/emails.coffee#L215).

[2015-11-03 19:52] #48 closed

[2015-12-19 22:03] elie222 commented on #45
The iron router integration can mess things up. I have a global hook that checks if a user is logged in or not, but when I go to the preview page, I get an error saying:

[code]

[2015-12-19 22:23] elie222 commented on #45
I solved my issue my wrapping the revelant global hooks in a `Meteor.isClient` block.

[2015-12-24 23:30] johanbrook opened #49 "Switch to ES2015"
Cuz it's the new kid on teh block.

[2015-12-25 01:13] johanbrook commented on #45
Fixed in https://github.com/lookback/meteor-emails/pull/47 and will be published in 0.7.0.

[2015-12-25 01:13] #45 closed

[2016-01-22 12:08] niranjans commented on #28
@mcoenca Did you manage to work around this? I'm stuck having that same "Could not find template.." message.

[2016-01-25 12:39] mcoenca commented on #28
@niranjans
Yes I have something here, https://github.com/mcoenca/meteor-emails/commit/ab4dea1d583bd494954146e8b70ca52de2d1e5aa , that works when you pass the underscore folder name of your package that requires lookback:emails (see .meteor/local/isopacks)

`NotifsEmailTemplates.newQuestAnswer = {
  path: 'lib/newQuestAnswer.html',
  packageName: 'bridges_notifications',
  route:{
    path: '/...`

[2016-01-25 12:59] mcoenca commented on #28
@niranjans Ok I've just checked. Compared to upstream, there have been breaking changes in code organisation around my commits, so I can't submit my pull request like this. You can either use my version (which lacks some of the newest features, and thus you need to use the old documentation on my branch), or try to look into my commit and adapt the concepts into your own fork from the new version.

[2016-01-25 13:04] niranjans commented on #28
@mcoenca no problem. I can look into your version and it would be a good start. I appreciate your help! :)

[2016-01-26 11:03] johanbrook commented on #49
Tracked in https://github.com/lookback/meteor-emails/pull/50

[2016-01-26 14:52] #49 closed

[2016-02-01 10:13] adamgins commented on #28
HI, looking to leverage this too so I can use my email code/HTML into two apps. Just wanted to check if it had got any further/closer to release, please?

[2016-02-01 10:29] johanbrook commented on #28
Is this still due to packages can't use `Assets.getText()` to get hold of stuff in the `private` directory?

[2016-02-01 21:15] mcoenca commented on #28
Not sure anymore if my comment was right... you're reading files with fs anyway. I am looking if I can submit a valid PR tonight

[2016-02-01 23:03] mcoenca commented on #28
Ok i almost have it, unsure about it working in all cases, needs testing, but less had changed than i thought so it should work. I've seen Meteor docs have been updated regarding Assets.getText() and package access, but as you are not using it to read files, I didn't want to break cohesion so I kept my old approach. #51

[2016-02-07 01:28] screaser opened #52 "Is there no way to include a "bcc" field?"
Tried adding a line to the config for one of my emails along the lines of:

        from: 'MyCo <team@MyCo.com>',
        to: recipient.emails[0].address,
        bcc: 'developer@email.com',      <<<

... the idea being that I could watch the early emails to see if things were working as expected. But no luck... didn't find anything in the docs either.

Is there a way to add a "bcc" header line, u

[2016-02-08 16:08] johanbrook commented on #52
Hi @screaser. I'd be happy to see a PR on this, it's quite trivial. Just pass the proper options to `Email.send` (http://docs.meteor.com/#/full/email_send), which is called in here: https://github.com/lookback/meteor-emails/blob/master/lib/mailer.js#L225 :)

[2016-02-21 15:52] imajus opened #53 "Could not preview email: Cannot read property 'preview' of undefined"
Hi, I've just installed the package and I'm trying to create my first email. I have this email template in `private/emails/test.html`:
[code]
This is template object in `server/emails/test.js`:
[code]
This is my `Mailer` setup in `server/mailer.js` (replaced personal data with asterisks):
[code]
So with this setup I can preview the email via `/emails/preview/test` which is great, but when I uncomm

[2016-02-21 23:00] imajus commented on #53
I've just figured out that by myself, I just needed to provide `preview` helper in `Mailer.init` object. Looks like a bug to me, missing `preview` helper should be handled properly.

Also, as a side note, you should definitely include `{{{body}}}` in your README layout example. So far it's unclear how to build layouts until I checked out an example source code.

[2016-02-21 23:01] johanbrook commented on #53
Thanks @imajus. Great feedback. Glad you found it out, but I'll def update README + handle preview helpers. Keeping this open until that happens.

[2016-02-21 23:13] imajus commented on #53
Ah I was wrong. Apparently the error occurs when I don't provide `data` property in template object. When I do provide `data` as a function simply returning an empty object everything goes well without any helpers.

[2016-03-08 18:51] chrisknu opened #55 "Support array of 'to' addresses"
The validator is checking incoming 'to' field as a string, wherein the meteor docs support string or array of strings.

Behaviour should be the same

http://docs.meteor.com/#/full/email_send

[2016-03-08 21:34] johanbrook commented on #55
Agreed. PR appreciated.

[2016-03-08 21:36] johanbrook commented on #52
This is published in [0.7.2](https://github.com/lookback/meteor-emails/releases/tag/v0.7.2).

[2016-03-08 21:36] #52 closed

[2016-03-08 22:17] screaser commented on #52
Thanks for the heads up! Very sorry I hadn't gotten around to working on a PR yet... I appreciate your help on this!

[2016-03-08 22:17] johanbrook commented on #55
Fixed in https://github.com/lookback/meteor-emails/commit/d441cc621e03aca90e3acb7d161b2554afc85c76.

[2016-03-08 22:17] #55 closed

[2016-03-16 13:27] chrisknu commented on #55
Thanks!

[2016-03-18 01:20] adamgins opened #57 "Getting error on init after upgrade to 0.7.2"
![image](https://cloud.githubusercontent.com/assets/7233741/13865812/ab892172-ed03-11e5-9182-4c636da3a7c6.png)

Here's my init:

[code]
it looks right... did anything change?

[2016-03-18 02:13] johanbrook commented on #57
Do you have a `path` string property on `route`, as seen in https://github.com/lookback/meteor-emails/blob/master/example/server/lib/templates.js#L14 ?

[2016-03-18 02:18] adamgins commented on #57
Thanks for the quick reply.

No. Here's my file:

[code]

[2016-03-18 02:21] adamgins commented on #57
Ah cool.. I had `addRoutes:true` now set to `addRoutes:false` .. thanks .. phew I have had that param there for ages. ... you must have fixed something that made my slackness break it ;-)

[2016-03-18 02:21] #57 closed

[2016-03-18 02:23] johanbrook commented on #57
Heh, okay :) I addressed this anyway in https://github.com/lookback/meteor-emails/commit/c22ba33fb87029e0dc138dca8503441c23ec5646 – instead of crashing, it'll log and exit.

[2016-03-18 02:35] adamgins commented on #57
Thanks

[2016-03-19 21:47] flippyhead opened #58 "Advice re. Meteor 1.3"
Hi thanks so much for this fantastic project.

We're using Meteor 1.3 which has module support. Do you have any recommendations on how to best use `meteor-emails` in this new setup?

Thanks!

[2016-03-19 21:55] johanbrook commented on #58
Hi! Thanks for the warm words.

I haven't tried this package in a 1.3 setup yet, and I'd like to support both pre-1.3 and modules. It might be easily achievable, but I haven't tried yet.

Feel free to play around with this in a 1.3 app and report back with any issues.

[2016-03-19 22:29] flippyhead commented on #58
`meteor-emails` works great under 1.3 as MDG has taken pains to ensure backwards compatibility. The main thing is the reliance on global objects and how you are doing paths to things in `Templates`. We'll try out a few things but it seems like there should be a different pattern that lets you import templates declaratively, keeping everything in the new `imports` folder.

[2016-03-19 22:33] johanbrook commented on #58
I see, thanks!

Well, you don't _have_ to use globals in 1.3 if you don't want to. You could for example take this approach:

[code]

`lookback:emails` doesn't care _how_ you provide the `template` hash.

[2016-04-08 02:48] brent-taft opened #59 "Template not binding too its template data"
I am integrating your email template package and I am having a issue with databinding.  I copied your example email template into my project.  If I preview or send using the url - the email template shows up perfectly and the Beatles names are all listed.

However, if i use Mailer.send (see below) - to send the same template.   The email shows up - however, the Beatles list is not in the template.

[2016-04-11 13:54] johanbrook commented on #59
Thanks for reporting in, gonna have a look at this 🚀

[2016-04-11 13:55] johanbrook commented on #58
Is this okay to close, @flippyhead ?

[2016-04-12 13:20] flippyhead commented on #58
Sure, thanks!

On Mon, Apr 11, 2016 at 6:55 AM, Johan Brook notifications@github.com
wrote:

##

Peter T. Brown, CTO
Pathable, Inc.
http://pathable.com

[2016-04-24 17:17] vjain20 opened #62 "Template file could not be read on modulus"
Hi,

I know this is not a place for asking questions. But I am not sure how to contact the author of the package.  I am using lookback:emails package but it throws an error when I try to deploy my project to modulus. In the Template , i just use the name of the file as path. But I am getting a "Could not read template file error" . Following is the log:

[code]

[2016-04-25 00:37] adamgins opened #63 "Can't update to Meteor 1.3.2.4 - stuck on Downloading lookback:emails"
Hi, I can't seem to update my project to Meteor 1.3.2.4 it gets stuck on "Dowloading lookback:emails.."

![screen shot 2016-04-25 at 10 35 41 am](https://cloud.githubusercontent.com/assets/7233741/14771532/a221e970-0ad1-11e6-889b-5ed465e7311d.png)

Any ideas pls?

[2016-04-25 00:40] adamgins commented on #63
closing - it worked .. just seemed to takes ages to download.

[2016-04-25 00:40] #63 closed

[2016-04-25 00:40] johanbrook commented on #63
Gotcha, thanks for reporting in.

[2016-04-25 00:40] #58 closed

[2016-04-25 00:53] johanbrook commented on #62
Hm, I wonder if this is related to https://github.com/onmodulus/docker-build-meteor/issues/14 and thus fixed by https://github.com/lookback/meteor-emails/pull/61.

Are you able to try the solution in https://github.com/lookback/meteor-emails/pull/61 ?

[2016-04-25 01:03] johanbrook commented on #59
@brent-taft Can you set up a sample app for reproduction of this? I can't reproduce it in the example app in this package.

[2016-04-25 01:14] #53 closed

[2016-04-25 06:42] vjain20 commented on #62
@johanbrook - Thanks for responding.
I tried setting APP_DIR /mnt/app/bundle. However, the error still persists. It seems like multiple paths
were tried but none of them is working.
I am pasting the log below:

[code]

[2016-04-25 09:25] johanbrook commented on #62
Hm, I see two different logs here:

[code]

and

[code]

That's kinda weird. There's always the full path that's being logged when there's an error. Did you set the `APP_DIR` correctly?

[2016-04-25 16:31] vjain20 commented on #62
In Mailer.js, I see the following:

Utils.Logger.error(`Could not read template file: ${template.path}`, TAG);

Looks like this should log only 'template.path' which is just the file name.
I have set the APP_DIR to /mail/app/bundle
By default it is /mail/app. Not sure if I did it right.

On Mon, Apr 25, 2016 at 2:25 AM, Johan Brook notifications@github.com
wrote:

##

Thanks
Vaibhav Jain

[2016-04-26 15:46] vjain20 commented on #62
Update: The previous log that I posted was not correct. I re-dployed and restarted the app.
This is the log that I get now:

[code]

I tried changing APP_DIR to /mnt/app/bundle in code by setting process.env.APP_DIR just before
Mailer.init.  But that did't help and I get the same log as above.

[code]

[2016-05-08 10:21] joshperrin opened #64 "Meteor Accounts Emails"
Is it possible to use this package to override/customize the Meteor accounts emails sent by sendResetPasswordEmail, sendEnrollmentEmail, and sendVerificationEmail?

thanks!

[2016-05-12 00:12] adamgins opened #65 "Feature request: example of sending attachments/clearer documentation of attachments param please"
Thanks again for the awesome package.

Any chance you have an example of sending attachments... About to start working it out.. just looked like your doc said an object but mailcomposer took and array of objects, so was not sure of the format.

My example, trying to send an iCal/ics as an attachment

any help appreciated

[2016-05-12 00:16] johanbrook commented on #64
Hi @joshperrin. Yep, it's possible with the `Mailer.render` function: http://lookback.github.io/meteor-emails/docs/mailer.html#section-12. You'll get back a plain string with which you can attach to the Accounts props. Not sure if they accept HTML though, but I think so.

[2016-05-12 00:17] johanbrook commented on #65
Hi @adamgins. This was added in PR https://github.com/lookback/meteor-emails/pull/60, and the code says "array of objects", but the README says object. I missed that, sorry. Does it work with arrays of objects?

[2016-05-12 00:18] johanbrook commented on #65
Fixed in https://github.com/lookback/meteor-emails/commit/cb012595518932c0e06b6fd99cb75a33aff8af1f.

[2016-05-12 01:36] adamgins commented on #65
@johanbrook thanks heaps for the quick response.
how do make the attachments show up??? is there an example pls

I tried:

[code]

I get the email but does not seem to have the attachment

Any ideas, pls?

[2016-05-12 01:39] johanbrook commented on #65
Any errors? Try cloning down the package into your local `packages` folder and add some console logs to see that the `attachments` property really is what it is.

[2016-05-12 01:47] adamgins commented on #65
can't seem to see anything on the server console.

on the client I see

[code]

But I still get the email. That error line `1101` must be in generated Meteor code as it's for code that does not even run in my source file.

[2016-05-12 01:51] johanbrook commented on #65
Hm, seems like `Mailer` is called on the client somewhere, in a method.

But as I said: the attachments is just sent to Meteor's `Email.send()`. Try popping into `meteor shell` and call `Email.send()` programmatically, with the necessary options.

[2016-05-12 01:51] adamgins commented on #65
ok, will check thanks
I think that error may have been that I did not wrap the method in Meteor. isServer

[2016-05-21 08:11] joshperrin commented on #64
Hey @johanbrook thanks for your response. Works great! Is there a way to render the plain text version?

[2016-05-22 13:42] johanbrook commented on #64
The `render` function only returns HTML for now. You can use an external npm module to convert HTML to plain text. But we should probably return an object from `render` with both plain text and HTML in the future..

[2016-05-22 13:42] #64 closed

[2016-05-26 13:49] bmustata commented on #53
+1

[code]

[2016-06-08 09:08] pierrelouisd4j opened #66 "Development directory : invalid regex"
Hi guys,
I believe I found a bug in the regex which generate the meteor private directory in development mode.
https://github.com/lookback/meteor-emails/blob/master/lib/utils.js#L28

Indeed, I have a folder in my project containing ".meteor" wich is removed by the regex when the current path is generated.

[code]

I know that the short answer is to rename my directory, but fixing this will probabl

[2016-06-20 07:14] johanbrook commented on #66
Hi! Sorry for the late reply. Looking into tweaking that regex, would probably involve switching to:

[code]

[2016-06-20 12:00] pierrelouisd4j commented on #66
Maybe more something like that :

[code]

[2016-06-20 12:42] johanbrook commented on #66
Right. Are you able to clone down the package repo locally into your `packages` directory and test it out?

[2016-06-21 12:29] pierrelouisd4j commented on #66
Hi, I tested this and it seems to work (it's better than my 1st solution)

[code]

[2016-06-26 23:56] sean-stanley commented on #36
This issue is deprecated for me now testing is done other ways and SSR rendering lets me preview emails nicely.

[2016-06-26 23:56] #36 closed

[2016-06-27 08:12] johanbrook commented on #66
Cool! Fancy filing a PR and I can check it out locally too?

[2016-06-27 09:11] pierrelouisd4j commented on #66
#67

[2016-06-29 08:57] johanbrook commented on #66
Fixed in https://github.com/lookback/meteor-emails/pull/67.

[2016-06-29 08:58] #65 closed

[2016-06-29 09:47] #66 closed

[2016-07-03 19:41] indesignlatam opened #68 "No compatible binary build found for this package when updating to Meteor 1.3.4.1"
Hi, first of all thanks for the great job on this package.

I just updated one of my projects to the latest Meteor version 1.3.4.1 and im getting the next error, No compatible binary build found for this package.

It happens only when installing 0.7.4 on version 0.7.3 everything is OK

[2016-07-04 03:36] MartinBucko commented on #68
+1 on ubuntu

[code]

[2016-07-04 12:00] johanbrook commented on #68
Thanks, @MartinBucko and @indesignlatam. I don't know why the binary dependencies somehow needed to be rebuilt for 0.7.4. But I built them again for all architectures now (OS X, Windows, Linux 32bit, Linux 64bit).

It works out of the box on my OS X machine, but I can't sadly test on Linux – would you be able to try again? Thanks!

[2016-07-04 18:43] opyh opened #69 "Missing attachment parameter documentation"
Hi,

the documentation link for how to specify attachments seems to point to an API that is different from the actually working attachment API.

Using the documented API results in missing attachments (there should be an error message for attachments that are not correctly specified, but there isn't. Always sanitize your input arguments! :) )

This is _working_ for me:
[code]

_Not_ working for me

[2016-07-04 21:13] johanbrook commented on #69
Hi there!

Thanks for reporting in. What a mess, the official Meteor docs points to this: https://github.com/nodemailer/mailcomposer/blob/7c0422b2de2dc61a60ba27cfa3353472f662aeb5/README.md#add-attachments which is inconsistent with the main, `master` README in the MailComposer repo .. The options described in the link matches the ones in your successful test above.

Since I pass this option on to

[2016-07-04 21:18] johanbrook commented on #69
Added docs in https://github.com/lookback/meteor-emails/commit/69d6b0e0836cf236517377402203bafbd27a42cc.

[2016-07-05 14:58] opyh commented on #69
The sanitizing reminder was a general thing and not directed at you ;) Thanks for your effort!

[2016-07-05 14:59] johanbrook commented on #69
No worries! Do the changes in the commit above work well now, you think?

[2016-07-05 15:05] opyh commented on #69
Yes! :+1:

[2016-07-05 15:05] johanbrook commented on #69
Sweet! Thanks again.

[2016-07-05 15:05] #69 closed

[2016-07-28 01:13] adamgins opened #70 "Feature Request: Include/embed sub-templates"
@johanbrook Firstly I love this package, we use it and it's an integral part of our product. Thanks!

I know I asked this before but could not find that old thread... is there a way to include sub templates in a template ala `{{> someTemplateToInclude}}` and if not, is it on the radar or any thoughts of what would be involved in adding it?

A lot of my email templates of some common sub-parts and

[2016-07-28 08:23] johanbrook commented on #70
Thank you!

The server side rendering package which I use doesn't support sub template inclusions, and hence, I can't support it either :/

I feel the code duplication angst though. If it's trivial templates (just text) shared helpers which return the same template could work.

https://github.com/meteorhacks/meteor-ssr

[2016-07-28 08:23] #70 closed

[2016-08-01 17:31] steve-ross commented on #68
I just got this error trying to upgrade to 1.4.0.1 from 1.3.2.4

[2016-08-03 14:49] persac opened #71 "chrisbutler:node-sass breaks on Meteor 1.4"
Hi, thanks for the great work.

Unfortunately, the chrisbutler:node-sass package won’t add on Meteor 1.4. Now that Meteor natively supports NPM, would it be an option to switch to the NPM node-sass package for SCSS support?

If I knew where to start in making such a change, I would be happy to help. But I am not that guy.

Cheers,
Casper

[2016-08-04 16:42] johanbrook commented on #71
Aight, on it. It probably needs to be recompiled for 1.4.x. ping @chrisbutler.

I still wanna keep some backwards compatibility for pre-1.3 versions of Meteor :)

[2016-08-05 23:25] marvin-bitterlich commented on #71
Seems like @chrisbutler is not active at the moment. Is there some way to use sass in emails without this package?

[2016-08-09 00:55] steve-ross commented on #71
how about using regular node-sass via npm ?

[2016-08-09 00:55] steve-ross commented on #71
I'll take a look, we need it in a project that we just brought up to 1.4

[2016-08-09 02:12] steve-ross commented on #71
Opened a pr #72

[2016-08-16 12:19] persac commented on #71
@johanbrook Any chance to take a look at #72 by @steve-ross? Cheers!

[2016-08-16 12:19] johanbrook commented on #71
Hey, for sure. Sorry for the delay; been offline for a week with no internet access.

[2016-08-16 12:22] steve-ross commented on #71
Let me know if there is any cleanup to do. Was a late night when I dug in.
😄
On Tue, Aug 16, 2016 at 8:20 AM Johan Brook notifications@github.com
wrote:

Steve Ross - CTO
[O](912) 268-0444

[M](912) 344-8113
[IM] steve@oak.works

[2016-08-19 14:48] pierrelouisd4j commented on #68
@johanbrook I confirm it's fixed on Linux too ! (at least up to Meteor 1.3.5.1)

[2016-08-22 09:44] persac commented on #71
@johanbrook, sorry to bother you again, is there anything I can do to make #72 happen? Email styling has become a real pain since SASS support is broken. Thanks in advance!

[2016-08-22 10:06] johanbrook commented on #71
@persac Thanks for the ping. On this now. Ping @steve-ross, commented on the PR.

[2016-08-26 19:54] sotarules commented on #71
+1 on this.  I see that lookback emails has explicit test for the presence of **chrisbutler:node-sass**.  I tried to install native **node-sass** NPM assigning global variable `sass = Npm.require("node-sass")` but this didn't work due to that explict test (and possibly other issues yet to be found).

[2016-08-26 22:52] steve-ross commented on #71
Sorry been slammed at the office this week. I'll check out the comment and
update the PR
On Fri, Aug 26, 2016 at 3:54 PM David Lynch notifications@github.com
wrote:

Steve Ross - CTO
[O](912) 268-0444

[M](912) 344-8113
[IM] steve@oak.works

[2016-08-27 00:28] johanbrook commented on #71
I totally see how you mean, but I think we should avoid to shove Sass into people's builds if they don't need it, hence the weak dependency on `chrisbutler:node-sass`.
- One option is to fork and maintain a Meteor package of `node-sass` from npm.
- Another is to at runtime check of `node-sass` inclusion via npm:

[code]

[2016-08-27 00:35] sotarules commented on #71
Right on, I think that if you did a runtime check for node-sass as shown, it would work in my case.  One thing to worry about though is that the **require** function (I believe) exists only if the user has added the Meteor **ecmascript** package (BTW please take with grain of salt, I'm just discovering this now).  In my case, the proposed coding would work great because I've bitten the bullet and

[2016-08-27 00:41] johanbrook commented on #71
Exactly; right now, we support Meteor versions back to `1.0.4`, which is kinda cool. I could do some experimentation with pre-ecmascript compatible versions of Meteor (<1.3) to see how things play out.

But to be honest, a Meteor wrapped `node-sass` package has worked out good so far. The Meteor ecosystem is just on the brink of leaping into npm world, and I feel that Meteor packages are still rel

[2016-08-27 00:50] steve-ross commented on #71
I commented on the PR notes, it would be helpful if someone could test with the lower versions. Honestly I don't have time to do it. I tried to account for the lower versions by adding the conditionals but, just needed it to work for 1.4

[2016-08-27 00:53] steve-ross commented on #71
Oh and using a meteor wrapped package for node-sass seems silly... npm isn't going anywhere and then people have to depend on you updating your node-sass (wrapped) package to keep up with the upstream node-sass. Seems like a bunch of extra work.

[2016-08-27 00:54] johanbrook commented on #71
Great, many thanks! I'll test out the npm approach – I guess it's possible to do both.

[2016-08-27 01:28] sotarules commented on #71
I guess if you make a Meteor package :package: for node-sass you could pick up where Chris Butler left off.  You might be the rightful heir to the Meteor/node-sass throne.

[2016-08-29 20:52] #71 closed

[2016-08-29 21:24] sotarules commented on #71
@johanbrook please **meteor publish** 0.7.5 if you are in a good place to do so.  I'll try it out right away and confirm that the NPM node-sass works as expected.

[2016-08-29 21:26] johanbrook commented on #71
@sotarules I'm doing local testing right now, will notify with progress.

[2016-08-29 22:27] johanbrook commented on #71
Alright, y'all, I've tested and updated this package on Atmosphere as **0.7.5**. Let me know how it works out for you.

Thanks for all your help! <3 🎉 🍻

[2016-08-29 22:27] #68 closed

[2016-08-29 23:15] sotarules commented on #71
@johanbrook I've confirmed this works on Meteor 1.4.1.1 with **node-sass** declared as a Meteor "native" NPM package in **package.json**.  Thanks so much for dealing with this so quickly.

[2016-08-30 01:14] chrisbutler commented on #71
sorry i'm late to the party @johanbrook. looks like you got everything resolved?

[2016-08-30 07:21] johanbrook commented on #71
@chrisbutler Yeah, no worries! All resolved.

[2016-08-30 14:24] Noveltysa opened #73 "TypeError: Mailer.send is not a function"
On Meteor 1.4.1.1. there is persistent error TypeError: Mailer.send is not a function
when trying to user  Mailer.send() on the server side. Tried  Mailer.sendEmail also same error generated

Although when attempting to call ..http://localhost:4000/emails/send/sample/Peter for example
the error "No testemail or to address specified " is generated, what is the alternative to calling the send url wh

[2016-08-30 14:28] johanbrook commented on #73
Thanks, I'll have a look.

[2016-08-30 15:24] Noveltysa commented on #73
My mistake.. there is nothing wrong with the package,
I did not place Mailer.send within `Meteor.methods({`......
Mailer is working like a charm.. Thanks for your efforts

[2016-08-30 15:24] #73 closed

[2016-08-30 16:29] johanbrook commented on #73
Okay :) Thanks.

[2016-08-31 03:11] imajus opened #74 "Templates with exact contents are merged in bundles"
I've faced a problem recently that during the development all templates I had worked fine but on production some of them were missing. The error I get in server logs were like `Could not render email before sending: Could not find template: adminCommentsAdded [500] mailer`.

To keep story short, the problem was I had few HTML files in `/private` folder which had exact contents and Meteor removes d

[2016-09-13 01:25] scottstensland opened #75 "your example app fails to launch"
I just cloned this repo
then immediately just tried to launch the example app which failed

cd ~/other_src/github.com/lookback/meteor-emails/example

 meteor

[[[[[ ~/other_src/github.com/lookback/meteor-emails/example ]]]]]

=> Started proxy.
lookback:emails: updating npm dependencies -- html-to-text...
/home/scott/.meteor/packages/meteor-tool/.1.4.1_1.139xb76++os.linux.x86_64+web.browser+web.cor

[2016-09-26 05:40] noahsw opened #76 "Template file could not be read during full-app test"
I'm trying to write a full-app test of my email's rendering.

However, when I run `meteor test --full-app --driver-package practicalmeteor:mocha --port 3100`, I see these errors:
[code]

Everything works fine in dev and in production. It's just these full-app tests that can't find the template.

Any ideas?

[2016-09-26 07:04] johanbrook commented on #76
Hi! We're seeing the same output when we're doing full app test too, and I've guessed so far that Meteor is building the app structure differently for those kinds of app startups. I.e. this package can't rely on fetching templates from the `private` dir. I'm not sure of where those templates are going during app testing.

We're doing some file trickery at the top of this file: https://github.com/l

[2016-09-27 04:13] noahsw commented on #76
Thx for the quick reply @johanbrook !

Here's what I have when I run my full app testing:

[code]

If I open `/private/var/folders/p4/466pgnmx7sd_2qwwwl2vc33m0000gn/T/meteor-test-runq2jraw/.meteor/local/build/programs/server` on my machine, the templates are stored in `assets/app`.

Looking at https://github.com/lookback/meteor-emails/blob/master/lib/utils.js, I suppose you could use the `producti

[2016-10-21 20:14] tomyo opened #77 "media queries from layout.css not loaded into layout.html"
This seems to be because of Juice, wich inlines all style from _layout.css_, instead of adding it to the head (that's great, but as long as the final html behaves like the one with the separate .css file).

¿Is there a way to have a `{{{css}}}` tag in the _layout.html_, inside of `<head>`, where I load this media queries?, The only way I see from the docs, involves adding it in every template, usi

[2016-10-21 20:29] johanbrook commented on #77
Hi! Thanks for the suggestion – it makes total sense. Feel free to file a PR with the approach and I'll have a look! ⚡️

[2016-10-21 22:45] tomyo commented on #77
I looked at your code, seems to be something the `preserveMediaQueries` option for Juice should do. So, I [asked them](https://github.com/Automattic/juice/issues/241) how to do it properly. Let's see how it goes.
As a last resource, the provided css could be appended into the layout's head before calling Juice, that would do the trick, but there should be a cleaner way. I'll post the updates.

[2016-10-22 00:18] johanbrook commented on #77
Neat!

Regarding appending, it should probably be made in the `layout` option for the `Mailer.init` call, like here: https://github.com/lookback/meteor-emails/blob/master/example/server/server.js#L16-L22

Let it take a `extraCSS` option or similar. Same for when you wanna have another `layout` for a specific template, like here: https://github.com/lookback/meteor-emails/blob/master/lib/mailer.js#L

[2016-10-27 08:48] thebarty commented on #76
Hi guys,

yeah I just ran into this issue, but when running tests in UNIT-testmode, p.e. when running testmode like `meteor test --driver-package practicalmeteor:mocha --port 3500`.

Did you guys make any projects on this? Did you find a good solution/workaround?

[2016-10-27 16:15] johanbrook commented on #76
Nope, no workaround yet. We can check for test runs with `Meteor.isTest` and try to find the templates if they're built on another path. But not sure where they're put when testing..

[2016-10-27 18:38] thebarty commented on #76
damn - thats a pitty. I was hoping that this package makes testing easy for me using the `render()` function... the problem is that even `render()` will not work and won't find the template

[2016-10-27 19:19] johanbrook commented on #76
Yeah, not sure what's going on there.

[2016-10-27 19:34] thebarty commented on #76
Hi Johan,

I am not into your codebase, but I just scanned https://themeteorchef.com/snippets/using-the-email-package/#tmc-questions-comments. The comments might contain some interesting stuff to improve the code? Check it out and search for `Assets.absoluteFilePath` and `Assets.getText('private/template_name.html')`. Does that help in any way?

[2016-10-27 19:59] johanbrook commented on #76
Neat, it was a while ago I looked at those APIs. Might help very much. Will have a look.

[2016-10-27 20:18] thebarty commented on #76
I don't know if you are much into unit-testing, so this is a little skeleton for you to get started:

run via `meteor test --driver-package practicalmeteor:mocha --port 3500`

[code]

oh and of course open localhost:3500 in a browser

[2016-10-27 21:43] thebarty commented on #76
Hi guys, I just submitted a pull request. @noahsw: can you check if this works in your app-tests?

[2016-10-28 14:46] johanbrook commented on #76
This is fixed with https://github.com/lookback/meteor-emails/pull/78 for me, as seen in https://github.com/lookback/meteor-emails/pull/79. Both are merged to `masted`. Gonna publish fixes as *0.7.6`.

Thanks for your help! 💥

[2016-10-28 14:46] #76 closed

[2016-10-28 14:49] johanbrook commented on #75
This might be fixed in https://github.com/lookback/meteor-emails/pull/79.

[2016-10-28 17:15] RWizard opened #80 "Upgrade from 0.7.5 to 0.7.6 underscore error on Meteor start"
W20161028-20:07:33.458(3)? (STDERR) /Users/romanvasiliev/.meteor/packages/meteor-tool/.1.4.2.zi1w5b++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20161028-20:07:33.579(3)? (STDERR)                             throw(ex);
W20161028-20:07:33.580(3)? (STDERR)                             ^
W20161028-20:07:33.581(3)? (STDERR)
W20161028-2

[2016-10-28 17:16] johanbrook commented on #80
Interesting. Comes from the `html-to-text` module. No idea what's causing it.

[2016-10-28 17:38] RWizard commented on #80
No problem, I revert to previous ver. Maybe idea come tomorrow . :)

[2016-10-30 09:34] cmaddalozzo commented on #80
I'm seeing the same issue on Sierra with 0.7.6 version of lookback:emails. Downgrading to 0.7.5 fixes the problem.

[2016-10-30 21:25] mikepaszkiewicz opened #81 "On render: Column must be greater than or equal to 0, got -1 mailer"
Getting this error intermittently on our production servers on email render. Tried cloning the db & replicating locally, but couldn't get a reproduction.

```Could not render email before sending: Column must be greater than or equal to 0, got -1 mailer```

[2016-10-31 08:11] thebarty commented on #80
@johanbrook : Yeah I am getting this, too - strangly ONLY, when NOT having the package locally withn /packages/meteor-emails.

Maybe a

[code]

will do the trick?

[2016-10-31 08:14] thebarty opened #82 "Partitioner support?"
Hi Johan,

great stuff that we got test-support going! 👍

I am actually running into another problem - within my saas project I am using https://atmospherejs.com/mizzao/partitioner, which is the goto-module to bring tenant-support into meteor. Right now it will not work correctly when previewing emails in the browser and I am working on a fork to support ``mizzao/partitioner``. The question is: do

[2016-10-31 09:28] thebarty commented on #82
Hi Johan,

ok, I evaluated this a bit more, and found out that right now `Meteor.userId()` is NOT available within `Template.data()`-functions.

`Lookback:emails` is using `Picker.route()` to hookup routes for the preview-features. "Picker" is a "server-side"-Router, which still picks up its routes from the client. :-) _so what exactly does "server-side" mean in this context? Maybe it is needed fo

[2016-10-31 12:03] bmustata commented on #80
Similar issue on here. Back to 0.7.5.

[2016-10-31 15:06] johanbrook commented on #82
I have no experience in the Partitioner package – what kind of modifications are needed for `lookback:emails` in order to accommodate support for Partitioner?

This is expected. You have to provide all data context to email preview routes through passing data, like `userIds`, via URL parameters. I don't think it's worth it to try to support the currently logged in user via server side email routes

[2016-10-31 15:30] johanbrook commented on #81
Hm, that's weird. That feels like a parsing error in the HTML or html-to-text package. Is your markup wonky somewhere?

[2016-11-01 09:34] thebarty commented on #82
@johanbrook  Thanks a lot for your detailed answers! They really helped me figure out the solution.

Good news: NO NEED TO HACK!

If anyone uses the module together with partitioner, simply do something like this in your Template.data(), and call the url with a valid userId.

[code]

Thanks to Johan for your help! closed!

[2016-11-01 09:34] #82 closed

[2016-11-02 11:06] amazingsam commented on #80
Does also occur on El Capitan; this is not only a Sierra problem. Downgrading to 0.7.5 works.

[2016-11-02 17:59] johanbrook commented on #80
`html-to-text` clearly has a dependency on underscore (1.8.3): https://github.com/werk85/node-html-to-text/blob/master/package.json#L27. Don't know why it doesn't build it correctly.

[2016-11-04 10:57] thebarty commented on #80
yeah - really strange.

Can you reproduce this locally? If no: why not?

[2016-11-04 11:16] thebarty commented on #80
If we can NOT reproduce this locally (I can NOT), then maybe try something like this on the server?
- http://javascript.tutorialhorizon.com/2015/08/27/trouble-shooting-error-can-not-find-module-underscore/

[2016-11-04 14:03] robinandersson commented on #80
I seem to be getting this issue on startup (locally) when on both 0.7.6 and 0.7.5, but downgrading to 0.7.4 solves it.

Just FYI, same error on both Meteor versions 1.3.1 and 1.4.2.

[2016-11-04 14:12] johanbrook commented on #80
Gotcha. Might not have been introduced in 0.7.6 then, but rather some (lingering) issue either with html-to-text or Meteor's build system (I highly suspect the latter, as I always do).

One fix would be to remove the hard dependency on html-to-text (https://github.com/lookback/meteor-emails/blob/master/package.js#L11-L13) and make it opt-in, like I did with `chrisbutler:node-sass` vs. npm `node-sa

[2016-11-04 14:12] #75 closed

[2016-11-04 14:15] thebarty commented on #80
sorry for the confusion. what I meant is that I can NOT reproduce this when having the package itself for development forked under `packages/meteor-emails`. If I remove it then I also see this error

[2016-11-09 20:46] zeroasterisk commented on #80
I am having this error, even after installing `underscore` explicitly.
I'll also be downgrading, for now.

[2016-11-09 20:52] zeroasterisk opened #83 "Can this be run without Blaze?"
This is my only dependency still on blaze... and Blaze results in a fair amount of extra cruft being compiled (time) and sent to the client (waste).

Ideally a system for telling SSR to render with some other toolchain (jade? handlebars?).
Or, some crazy contrivance on telling Blaze to only live on the server (what?).

[2016-11-09 21:09] zeroasterisk commented on #83
nevermind - I see that it can be.  sorry (🐑 ish)

[2016-11-09 21:10] johanbrook commented on #83
Awesome.

[2016-11-09 22:05] zeroasterisk commented on #83
Nope - I was wrong... I can remove `Blaze` from my app, but `meteorhacks:ssr` adds it back, as a dependency, quietly... still sent to client :(

I re-open my question... is there a way to make the SSR library a plugin/utility?

[2016-11-09 22:14] johanbrook commented on #83
Gotcha.

Quite a change, since people would need to depend on the SSR lib explicitly. A breaking change, that is. There is sadly no concept of "optional fallback" to the SSR package in a `package.js` file.

[2016-11-09 22:19] zeroasterisk commented on #83
Yeah - so it would seem.

I could _maybe_ imagine a split into 3 packages...
1. which does all the stuff with stubs for the actual SSR
2. which implemented the SSR interface in a standard way
3. a backwards compatible container package tying current functionality together (this package name)

It's a fair amount of work, for not that much gain (none if you're using Blaze). But without it, I will ma

[2016-11-09 22:22] johanbrook commented on #83
True. You can easily fork this one too with the power of GitHub, and just pull in upstream changes as they arrive :)

I'll mark this as an enhancement for now. If more people want it, we can look into it.

[2016-11-16 18:08] johanbrook commented on #80
Posted here about this: https://forums.meteor.com/t/cannot-find-module-underscore-from-inside-npm-dependency/31408/1

[2016-11-17 07:33] thebarty opened #84 "Example proposal"
@johanbrook: I just found that those lines here https://github.com/lookback/meteor-emails/blob/7c98ce5d819acf5c23b7c9e54b622c874be60295/example/server/server.js#L4-L6 lead to a wrong behaviour in development mode: it keeps ``Mail.send()`` from printing the mails output to the console, if NO MAIL_URL has been set. I had to remove this line to see the output. Maybe you can remove it from the example

[2016-11-21 00:04] darrenangle commented on #80
This is crashing a new meteor app at 0.7.6, 0.7.5, and 0.7.4. for me. Same error.

[2016-11-21 21:07] daaaaan commented on #80
METEOR@1.4.2.3

Can confirm issue with package @=0.7.6

NO issues with package @=0.7.5 & @0.7.4.

Didn't poke around much as didn't seem much apart from dependencies had changed from some of the commits I looked at.

Seems to be a weird one. 😭

[2016-11-21 21:10] johanbrook commented on #80
Thanks @daaaaan and @darrenangle. Indeed a weird one .. No help from the forums either.

Would be kinda sad to be forced to make `html-to-text` an external peer dependency too.

[2016-11-28 21:51] thebarty commented on #80
Hi guys,

we need to find a solution for this. I just tried setting up a CI (via circle) and it throws the same error.

@johanbrook: If making "html-to-text" an external peer dependency is what it takes, give it a go and publish another release? It would be a pity if we couldn't use the new features available in the new versions of your package. If the meteor-build process works correct again (eve

[2016-11-28 22:12] thebarty commented on #80
OK, so there probably is a workaround (I can say for sure on CircleCi).

Like I wrote earlier, I am NOT getting this error, when I have the package installed locally under "/packages/meteor-emails".

CircleCi works with this extra line ``cd src/packages; git clone https://github.com/lookback/meteor-emails.git; ls -al;``

**So maybe a ``meteor build`` would also work, if you did a ``cd src/packages

[2016-11-29 03:20] grabcode commented on #80
I am not sure how to test the following proposal to fix the issue, as it works when adding the package locally (under the `/packages` folder of a project).

A quick fix would be to update the `Npm.depends`, adding underscore to it:
[code]

[2016-11-29 03:25] johanbrook commented on #80
Ugly, but would get the job done. I can prepare a test release.

[2016-11-29 03:51] grabcode commented on #80
Hey @johanbrook, here is a PR https://github.com/lookback/meteor-emails/pull/85

[2016-11-29 05:11] johanbrook commented on #80
Changes from #85 are merged to `master`, but still can reproduce error.

Tried wrapping `html-to-text` module in a Meteor package, to see if that can get around the build problems, but got

[code]

I'm so done with Meteor's various build problems now -.-

[2016-11-29 05:18] johanbrook commented on #80
Fixed error, now getting

[code]

when depending on the new Meteor package from within `lookback:emails`, even though the former exists: https://atmospherejs.com/lookback/html-to-text. Might be propagating.

[2016-11-29 05:38] johanbrook commented on #80
Fixed and published as **0.7.7**. Give it a run ⚡️

[2016-11-29 05:59] grabcode commented on #80
It works. Just in case, I've wiped out all the versions of lookback:emails, stored under `$HOME/.meteor/packages/lookback_emails`, and reinstall it.

[2016-11-29 19:53] zeroasterisk commented on #83
Ok - this is for sure closed, because it's not a problem with this package.  I tested from nothing and installed in order.  This one does not include blaze client side. It turns out it's core facebook/google accounts, and here's the ticket for it: https://github.com/meteor/meteor/issues/7715

[2016-11-29 19:53] #83 closed

[2016-11-30 15:06] RWizard commented on #80
Thanks, upgrade to 0.7.7 FINE!

[2016-11-30 15:06] #80 closed

[2016-11-30 19:38] darrenangle commented on #80
🙏

[2016-12-13 14:54] thebarty opened #86 ""Could not find sass module" error-message"
Hi guys,

I am currently using the latest version 0.7.7 on meteor 1.4.1.

Within my packages.json I got ``node-sass`` required like
[code]

Still I am seeing this error in the logs (NOTE: the email still is send out, it is just a warning-message)
[code]

The funny thing is, that this error disappears, if I clone the lookback:emails package into my local ``/packages`` directory by doing this in a t

[2016-12-13 14:58] johanbrook commented on #86
Weird, that should've been taken care of [in here](https://github.com/lookback/meteor-emails/blob/master/lib/utils.js#L13-L23).

[2016-12-13 16:02] thebarty commented on #86
yeah really really weird... when I simply add something like this on the ``/server/test.js``

[code]

then I am getting a valid result.

And at the same time it works correctly, if I clone the package to my project folder, so that'll be my workaround for now.

[2016-12-18 07:44] thebarty opened #87 "[feature suggestion] handlebar/blaze helpers on server"
Hi guys,

having handlebar helpers available would really enhance SSR from right the start.... right now I keep on manually copying the stuff I need into the global ``TemplateHelpers``.

Those guys here make Blaze really fun:
https://github.com/raix/Meteor-handlebar-helpers

even cooler (but unfortunatly NOT available yet in meteor): https://github.com/assemble/handlebars-helpers

Probably a fork

[2016-12-18 23:55] thebarty opened #88 "Rendering subTemplates in Templates ``{{>subTemplate}}`` - anyone got this working?"
Hi guys,

does anyone know a hack, how to render subTemplates in .html templates??? It seems like ``{{>subTemplate}}`` is NOT supported, which is a same as I'll start keeping it unDRY from know on... damn...

Any suggestions?

[2016-12-19 14:17] johanbrook commented on #88
Sadly, if the meteorhacks:ssr doesn't support it, this package can't either :/ Perhaps switching to Jade as template engine will support it.

[2016-12-19 14:19] johanbrook commented on #87
What exact helpers do you need?

[2016-12-19 14:28] thebarty commented on #87
Right now I am using those here, but using blaze the whole handlebars-helper package is a real benefit:

[code]

[2016-12-19 14:30] thebarty commented on #88
Ha, well.. yeah so if we want to stay with Blaze we'd have to officially fork ``meteorhacks:ssr``... sounds like a fun and time-intensive thing to do! :-/ Right now I plan to stay with Blaze so no need for Jade... 👍

[2016-12-19 14:34] thebarty commented on #88
seems like there even is an existing fork https://github.com/meteorhacks/meteor-ssr/pull/40#issue-124286924, which has NOT been included... it just lies around there since dez 2015

[2016-12-19 14:36] thebarty commented on #88
Since meteorhacks is NOT developed anymore, how about fetching it into the lookback package (including the pull-request from above)... so we have it in "our codebase" and complete control?

[2016-12-19 14:37] johanbrook commented on #88
I or Lookback have no immediate need for sub-templates right now, so feel free to pull down this package at your end and experiment with the changes you're suggesting :) And then submit a PR if everything works smoothly, and I'll have a look at it.

[2016-12-19 14:41] thebarty commented on #88
Ok, i might give it a go, but only after I experience 3 times in my code repeating myself. :-O

Which way would you recon? I guess the most elegant way would be to create a fork of meteorhacks:ssr and publish it as an athmosphere package and then make it a dependence in lookback?

[2016-12-21 10:12] johanbrook commented on #88
Since the SSR package hasn't (or won't likely) get any updates, I think it's safe to fork it into a new package, yes. Make sure that feature branch is update with `master` of the SSR package, etc.

[2016-12-21 10:13] johanbrook commented on #87
Hm, I'm not sure I wanna pull in another dependency. No users of this email package have asked specifically about more template helpers. You can easily depend on a helpers package in your Meteor app and just pass the helpers along to `Mailer` on init.

[2016-12-21 10:13] #87 closed

[2017-01-24 16:27] thebarty commented on #88
OK, I found a way to do this without too much work:

 1) create 1 file per subtemplate within /private/*
 2) compile the subtemplate (and give it a name) by `SSR.compileTemplate('subTemplate', Assets.getText('test_subtemplate.html'))`
 3) use it within your main template via "{{>subTemplate data=dataContext}}"

Of course it would be really cool to support this with standard blaze-style, BUT it wor

[2017-01-24 16:27] #88 closed

[2017-01-25 16:21] johanbrook commented on #88
Cool!

[2017-01-26 04:05] zeroasterisk commented on #86
I am also seeing this in my logs too.  I have `node-sass@4.2.0` installed and it does work, but warns me that it's not going to.   wierd.

[2017-01-26 08:37] johanbrook commented on #86
I wonder if it's some kind of race condition, but seems unlikely.

[2017-03-08 00:46] sean-stanley opened #89 "Mailer.send returns undefined"
Hi,

I have a simple method that calls Mailer.send then if the result is true, updates the database.

Then in my unit test, result is undefined. I think it might be undefined outside the testing environment as well.

The documentation says that Mailer.send returns either true or false though. Has the API been updated? Does it behave differently in different environments?

This is occurring on Mete

[2017-03-17 15:54] thebarty opened #90 "How to use to send beautiful "useraccounts"-emails?"
Hi guys,

is there anyone using this package to send **"useraccounts"-related emails**? Just like https://github.com/yogiben/meteor-pretty-email does, but keeping it consistent?

If yes: Do you mind sharing some code on how you did it?

@johanbrook : How are you doing it? Do you use this package or yogiben?  :-)

[2017-03-17 15:58] johanbrook commented on #90
The built in Meteor email hooks for the Accounts package can accept HTML and plain text (can't find the docs at the moment though), so you can use this package to render the HTML from an email template, and let Meteor send it.

[2017-03-17 16:13] thebarty commented on #90
yeah man! http://docs.meteor.com/api/passwords.html#Accounts-emailTemplates

👍

[2017-03-17 16:13] #90 closed

[2017-03-18 10:41] thebarty commented on #90
Hi guys,

this is simple stuff, but it might safe you some time if you want to do this yourself.
So this is something for the WIKI of this package:

[code]

[2017-03-31 19:48] johanbrook commented on #89
Hi there, sorry for the slow turn around on this.

The relevant code is here: https://github.com/lookback/meteor-emails/blob/master/lib/mailer.js#L266-L275. So unless `settings.disabled` is true, it should use `Emails.send` and return true.

Is the email sent at all?

[2017-04-19 14:45] mikepaszkiewicz opened #91 "Rewrite docs coffeescript -> es6"
If there's any interest in this, I'd be willing to make a pull request.

[2017-04-25 19:47] bsbechtel commented on #62
I don't know if our issue is related, but we are seeing a similar error, but with a deploy to Meteor's Galaxy servers. One interesting thing we saw was that if we changed the name of the missing template file, the error switched to a different template file in our /private directory. This tells me it is something related to the load order of our templates, but I am struggling to identify the issue

[2017-04-26 13:11] bsbechtel commented on #62
@vjain20 I was able to figure out the root cause of our issue...we had two email templates that had the exact same html contents. When they compiled, meteor got confused as to which template mapped to which html. Not sure if this is your issue as well, but you might want to check that :)

[2017-09-27 20:18] bduff9 opened #92 "Error when installing in new project"
Hi there, love the project despite some initial pains with getting it set up.

I am currently running into an issue where trying to install lookback in a new project fails with the following:

[code]

It looks like it's trying to download node-sass so I went to the URL that's giving a 404 and it does seem to not be there.  Since I just installed this in another project in August, I would guess som

[2017-09-29 14:57] johanbrook commented on #92
Hey!

That's weird: this project actually doesn't have a hard dependency on any Meteor or node sass library. Are you using any in your app?

[2017-10-03 15:26] bduff9 commented on #92
Thanks for your reply.  I cannot quite figure this out, but it does seem to have resolved itself.  Basically, this worked on my Ubuntu and not my Windows machine.  Over the weekend, I was working on it on Ubuntu, and updated Meteor to the latest release candidate.  When I pulled that change onto my work PC, it now works to add this as well.

So, the error indicated to me it was an issue with this

[2017-10-03 15:26] #92 closed

[2017-10-03 15:35] johanbrook commented on #92
Gotcha. Yes, binary dependencies, like `node-sass`, have always been a pain in Meteor. The stack traces don't always point to the real culprit.

[2017-10-16 22:35] bduff9 opened #93 "Troubleshooting CSS Issues"
I am running into a couple of strange CSS related issues I cannot pinpoint.  The current issue is that I am trying to import bootstrap v4 into my emails scss using the @import directive.  This did work in bootstrap v4-alpha but now fails.  There are 3 specific places it is failing and I tried looking into the issue but they don't make much sense.  The 3 errors I get from 3 different files are:
` C

[2017-10-17 06:49] johanbrook commented on #93
Hm, are you using SCSS or pure CSS for this project? Looks like some kind of syntax error in the CSS, but it might be SCSS that's not compiled properly. Remember that node-sass is opt-in:

[code]

[2017-10-17 14:47] bduff9 commented on #93
I am using SCSS.  As I said, this is complaining on Bootstrap's scss files (3 of them, to be specific) which compile just fine outside of emails.  Its only when used in emails that I see the above errors.  I have been using bootstrap 4 just fine in my emails, this comes after I updated both this package as well as bootstrap 4 (from alpha to beta).

[2017-11-07 09:57] adamgins opened #94 "Erro when trying to build Docker image"
Hi,

any ideas why I'd be getting this err - please see https://github.com/jshimko/meteor-launchpad/issues/79 when trying to build a Docker images that includes lookback emails?

thanks

[2017-11-09 10:44] brookback commented on #94
Seems like a Meteor isobuild error to me. Are your Meteor and node versions correct?

[2018-03-01 17:12] kjrhody commented on #89
II think I'm having a similar issue. I am trying to call `Mailer.send` from inside a click function (can I do that?). My code is as follows:

[code]

I get ```Uncaught ReferenceError: Mailer is not defined```

[2018-03-01 19:01] johanbrook commented on #89
@kjrhody Hi! Hm, no I think it's because you're trying to use `Mailer` on the client – this is a server only package, so try using a Meteor method on the server which the client calls instead.

[2018-03-01 19:23] kjrhody commented on #89
Thanks! Excuse my ignorance, I'm very new to all of this. I'll give that a shot.

[2018-03-01 19:24] johanbrook commented on #89
@kjrhody No worries at all :) Read up on Methods [in here](https://guide.meteor.com/methods.html).

[2018-05-12 02:37] adamgins opened #96 "Issue to do with node-sass and Meteor 1.6.1.1"
Hi running with `Meteor 1.6.1.1` similar to https://github.com/Dogfalo/materialize/issues/5275 which relates to Node-Sass version and `materialize` any ideas pls?

[code]

[2018-05-12 02:43] adamgins commented on #96
Actually just noticed this mention of `node-sass` version  https://github.com/lookback/meteor-emails/blob/26334cf702ee015fd820eb92805988d1469a5560/package.js#L16

WHich uses this package, which it seems is not needed anymore as per https://github.com/chrisbutler/meteor-node-sass/issues/3#issuecomment-236681321

[2018-12-05 03:57] apastorts commented on #96
Hi,

I am using Meteor 1.8 and I have been trying to add your package for a project with meteor but i get the same error that @adamgins got:

[code]

Apparently that url package is not available anymore.

[2018-12-05 11:03] brookback commented on #96
This might be due to the 3.8.0 node-sass dependency in the [example](https://github.com/lookback/meteor-emails/blob/master/example/package.json) app.

Is this fixed, if you:

1. Clone down this package into your `app/packages` folder
2. Bump that to latest node-sass in the `example/package.json` file

[2018-12-05 12:00] apastorts commented on #96
That worked for me!! Much appreciate it! I am a bit new in "Meteor".

[2018-12-05 12:17] brookback commented on #96
Cool! If you'd like to, feel free to submit a Pull Request to this repo with your change :)

[2018-12-06 11:23] droka commented on #96
I have the same problem. The pull request will probably solve it, thanks.
But I don't understand why does the lookback:emails package depends on the example app, and tries to install its dependencies. The example app is just sitting there in a sub folder, so if someone wants to, he can run it. When he runs it, the node-sass should be installed. But if I don't run it, the email package itself does

[2018-12-06 11:25] brookback commented on #96
@droka I don't understand that either. But if you wanna, try this:

1. Pull down this package into your `packages` dir
2. Rename the `example` dir to `.example`

I think Meteor then will ignore it.

If that works, feel free to submit a PR!

[2018-12-06 12:03] droka commented on #96
Yes. Renaming the example dir solves it.
I sent a pull request. #99

[2018-12-06 12:51] droka commented on #96
I forgot to update references to the example folder. Sent PR to that too. #100